.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }